#favoritos_span {
  position: fixed;
  margin-top: 25vh;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  background-color: #45d80b;
  padding: 0.5rem;
  border-radius: 10px;
  z-index: 9990;
  font-family: "Sora-VariableFont_wght";
  color: white;
  animation: slideMensagem 1s linear;
  display: none;
}




@keyframes slideMensagem {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0%);
  }
 
}


/* =============MIDIA SCREM ================= */
@media (max-width:480px){
  #favoritos_span {
    position: fixed;
    width: 70%;
    
  
    background-color: #45d80b;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem;
    border-radius: 10px;
    right: 12%;
    margin-top: 12vh;
    z-index: 9999;
    font-family: "Sora-VariableFont_wght";
    font-size: 3vw;
    color: white;
    animation: slideMensagem 1s linear;
    display: none;
  }
  
  
  
  
  @keyframes slideMensagem {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(0%);
    }
   
  }
  
}
 /* Estilos para celulares grandes em modo retrato */
 @media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait){
  #favoritos_span {
    position: fixed;
    width: 70%;
    
  
    background-color: #45d80b;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem;
    border-radius: 10px;
    right: 12%;
    margin-top: 12vh;
    z-index: 9999;
    font-family: "Sora-VariableFont_wght";
    font-size: 2vw;
    color: white;
    animation: slideMensagem 1s linear;
    display: none;
  
  }
  
  
  
  
  @keyframes slideMensagem {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(0%);
    }
   
  }
  
 }
/* =============MIDIA SCREM DESKTOP ================= */
@media (min-width: 800px) and (max-width: 1280px){
  #favoritos_span {
    position: fixed;
    margin-top: 17vh;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    background-color: #45d80b;
    padding: 0.5rem;
    border-radius: 10px;
    z-index: 9990;
    font-family: "Sora-VariableFont_wght";
    color: white;
    animation: slideMensagem 1s linear;
    display: none;
  }
  
  
  
  
  @keyframes slideMensagem {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(0%);
    }
   
  }
}
