
/* mensagemCartProdutos */
#mensagemCartProdutos{
  position: fixed;
  margin-top: 25vh;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  background-color: #45d80b;
  padding: 0.5rem;
  border-radius: 10px;
  z-index: 9990;
  font-family: "Sora-VariableFont_wght";
  color: white;
  animation: slideMensagem 1s linear;
  display: none;
}

@keyframes slideMensagem {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0%);
  }
 
}


#mensagemRemoveCartProdutos{
  position: fixed;
  margin-top: 25vh;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  padding: 0.5rem;
  border-radius: 10px;
  z-index: 9990;
  font-family: "Sora-VariableFont_wght";
  color: white;
  animation: slideMensagem 1s linear;
  background-color: red;
  display: none;
}






/* MIDIA SCREEN  */
@media (max-width:480px){
  
/* mensagemCartProdutos */
#mensagemCartProdutos{
  position: fixed;
  margin-top: 12vh;
  width: auto;

  background-color: #45d80b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15vw;
  width: 70%;
  padding: 0.5rem;
  border-radius: 10px;
  z-index: 9990;
  font-family: "Sora-VariableFont_wght";
  font-size: 3vw;
  color: white;
  animation: slideMensagem 1s linear;
  display: none;
}

@keyframes slideMensagem {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0%);
  }
 
}


#mensagemRemoveCartProdutos{
  position: fixed;
  margin-top: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15vw;
  width: 70%;
  padding: 0.5rem;
  border-radius: 10px;
  z-index: 9990;
  font-family: "Sora-VariableFont_wght";
  font-size: 3vw;
  background-color: red;
  color: white;
  animation: slideMensagem 1s linear;
  display: none;
}
}

/* =============MIDIA SCREM ================= */
/* Estilos para celulares grandes em modo retrato */
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait){

#mensagemCartProdutos{
  position: fixed;
  margin-top: 20vh;
  width: auto;

  background-color: #45d80b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25vw;
 
  padding: 0.5rem;
  border-radius: 10px;
  z-index: 9990;
  font-family: "Sora-VariableFont_wght";
  font-size: 3vw;
  color: white;
  animation: slideMensagem 1s linear;
  display: none;
}

@keyframes slideMensagem {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0%);
  }
 
}


#mensagemRemoveCartProdutos{
  position: fixed;
  margin-top: 20vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25vw;
  padding: 0.5rem;
  border-radius: 10px;
  z-index: 9990;
  font-family: "Sora-VariableFont_wght";
  font-size: 3vw;
  background-color: red;
  color: white;
  animation: slideMensagem 1s linear;
  display: none;
}
}
/* Estilos para celulares grandes em modo retrato */
@media screen and (min-width: 769px) and (max-width: 1023px) and (orientation: portrait){

  #mensagemCartProdutos{
    position: fixed;
    margin-top: 20vh;
    width: auto;
  
    background-color: #45d80b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25vw;
   
    padding: 0.5rem;
    border-radius: 10px;
    z-index: 9990;
    font-family: "Sora-VariableFont_wght";
    font-size: 2vw;
    color: white;
    animation: slideMensagem 1s linear;
    display: none;
  }
  
  @keyframes slideMensagem {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(0%);
    }
   
  }
  
  
  #mensagemRemoveCartProdutos{
    position: fixed;
    margin-top: 20vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25vw;
    padding: 0.5rem;
    border-radius: 10px;
    z-index: 9990;
    font-family: "Sora-VariableFont_wght";
    font-size: 2vw;
    background-color: red;
    color: white;
    animation: slideMensagem 1s linear;
    display: none;
  }
  }
  /* Estilos para celulares grandes em modo retrato */
@media screen and (min-width: 769px) and (max-width: 1023px) and (orientation: portrait){

  #mensagemCartProdutos{
    position: fixed;
    margin-top: 18vh;
    width: 60%;
  
    background-color: #45d80b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 23vw;
   
    padding: 0.5rem;
    border-radius: 10px;
    z-index: 9990;
    font-family: "Sora-VariableFont_wght";
    font-size: 3vw;
    color: white;
    animation: slideMensagem 1s linear;
    display: none;
  }
  
  @keyframes slideMensagem {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(0%);
    }
   
  }
  
  
  #mensagemRemoveCartProdutos{
    position: fixed;
    margin-top: 18vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 23vw;
    padding: 0.5rem;
    border-radius: 10px;
    z-index: 9990;
    font-family: "Sora-VariableFont_wght";
    font-size: 3vw;
    background-color: red;
    color: white;
    animation: slideMensagem 1s linear;
    display: none;
  }
  }

/* =============MIDIA SCREM desktop================= */
@media screen and (min-width: 770px) and (max-width: 1280px) and (orientation: landscape){
      /* mensagemCartProdutos */
#mensagemCartProdutos{
  position: fixed;
  margin-top: 25vh;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  background-color: #45d80b;
  padding: 0.5rem;
  border-radius: 10px;
  z-index: 9990;
  font-family: "Sora-VariableFont_wght";
  color: white;
  animation: slideMensagem 1s linear;
  display: none;
}

@keyframes slideMensagem {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0%);
  }
 
}


#mensagemRemoveCartProdutos{
  position: fixed;
  margin-top: 25vh;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  padding: 0.5rem;
  border-radius: 10px;
  z-index: 9990;
  font-family: "Sora-VariableFont_wght";
  color: white;
  animation: slideMensagem 1s linear;
  background-color: red;
  display: none;
}
} 
/* =============MIDIA SCREM ================= */
@media (min-width: 1281px) and (max-width: 2280px){
  
/* mensagemCartProdutos */
#mensagemCartProdutos{
  position: fixed;
  margin-top: 25vh;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  background-color: #45d80b;
  padding: 0.5rem;
  border-radius: 10px;
  z-index: 9990;
  font-family: "Sora-VariableFont_wght";
  color: white;
  animation: slideMensagem 1s linear;
  display: none;
}

@keyframes slideMensagem {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0%);
  }
 
}


#mensagemRemoveCartProdutos{
  position: fixed;
  margin-top: 25vh;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  padding: 0.5rem;
  border-radius: 10px;
  z-index: 9990;
  font-family: "Sora-VariableFont_wght";
  color: white;
  animation: slideMensagem 1s linear;
  background-color: red;
  display: none;
}

}