
@tailwind base;
@tailwind components;
@tailwind utilities;
/*COLORS */
:root {
  --bk-color: #292c31;
  --bk-color-yellow: #fffb00;

  --primary: #007bff;
  --red: #be0e0e;
  --dark: #121315;
  --blue: #b3e9e7;

  --yellow: #f2ff00;
  --gold: #daa520;
  --teal: #13ff00;
  --cyan: #e0eeee;

  --indigo: #5011b6;
  --purple: #6f42c1;
  --orange: #fd7e14;
  --green: #4ade80;

  --white: #ffffff;
  --gray: #6c757d31;
  --gray-dark: #343a40;

  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
 
}


html,
body {
  scroll-behavior: smooth;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow-x: hidden;
  
}


a {
  
  text-decoration: none;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg,#292c31,  #292c31,  #292c31);
  border-radius: 0px;
  transition: 05s ease-in-out;
}


/* Declaração da fonte 1 */
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/gotham-book.woff2') format('woff2');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbit/orbitron-black.otf') format('opentype');
  font-weight: bolder;
  font-style: normal;
}

/* Declaração da fonte */
@font-face {
  font-family: 'Proelium';
  src: url('/fonts/Proelium/Proelium.otf') format('opentype');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Purista';
  src: url('/fonts/Purista/Purista\ Bold.otf') format('opentype');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Sora-VariableFont_wght';
  src: url('/fonts/Sora/Sora-VariableFont_wght.ttf') format('opentype');
  font-weight: bolder;
  font-style: normal;
}